#header {
    height: $header-height;
    background: $header-background;
    display: flex;
    align-items: center;
    h1 {
        display: none;
    }
    #logo {
        margin-left: 10px;
        height: $logo-height;
    }
}